@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    background-color: #333;
}

.btn{
    padding: 25px 60px;
    display: inline;
    background-color: tomato;
    border-radius: 20px;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.5s;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.btn:hover{
    background-color: #ff4c2c;
}
.modal-window{
    width: 100vw;
    height: 100vh;
    position: relative;
    top: 0;
    left: 0;
    background-color: #00000000;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 999;
}
.modal{
    width: 60%;
    min-width: 450px;
    min-height: 200px;
    background-color: #fff;
    backdrop-filter: blur(10px);
    padding: 50px;
    border-radius: 20px;
}
.close{
    position: absolute;
    top: -10px;
    right: -10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 0;
    background-color: red;
    color: #e3e9f7;
    font-size: 25px;
    cursor: pointer;
}
.modal-window.open{
    display: flex;
}
@keyframes openmodal{
    from{
        opacity: 0;
        transform: translate3d(0, -20px, -5px);
    }
    to{
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}
.open .modal{
    animation: openmodal 0.7s;
}